*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Lato', sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-around;
   
    height: 300px;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px ; 
  
}
.header-description{
    width: 440PX;
    margin-top: 20px;
}
.header{ 
    margin-bottom: 10px;
}
.header-picture{
   
    height: 30px;
    p
 
}

.btn{
    color: #FFF;
    font-size: 12px;   
    padding: 05px 15px;
    background-color: #e55473;
    border: none;
    border-radius:5px ;
    margin-top: 20px;
    height: 30px  
}






.last-container {
    height: 100px;
    background: #111010;
    text-align: center;
    padding-top:  50px ; 
    padding-bottom:  50px ; 
    margin-top:  5PX; ;
}

.Flower{
    color: #e55473
}

.Shop{
    color:white
}
.last-description{
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
}
H1, P {
    margin-bottom: 5PX;

}

.copyright{
    font-size:  8px;
    color: rgba(255, 255, 255, 0.30);
}

