*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Lato', sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-around;

    height: 300px;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px ; 
  
}
.header-description{
    width: 440PX;
    margin-top: 20px;
}
.header{ 
    margin-bottom: 10px;
}
.header-picture{
   
    height: 30px;
    
 
}

.btn{
    color: #FFF;
    font-size: 12px;   
    padding: 05px 15px;
    background-color: #e55473;
    border: none;
    border-radius:5px ;
    margin-top: 20px;
    height: 30px  
}



/* feature and delivery decoration */


.featured-delivery-container{  
    height: 500px;
    margin-top: 30px;
    margin-bottom:30px;
}

.featured, p{
    text-align: center;
    margin-bottom: 10px;
}

.feature-picture{
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.title-1{
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    list-style: none;
    margin-top: 10px;
}

.boder-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.boder-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    
}

 .boder-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/* delivey ... */

.boder-delivery{
    width: 900px;
    height:120px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding :30px 0 0  0;
    margin-top: 30px;
    margin-left: 68px;
    
 }

.delivery{
    display: flex;
    justify-content:space-around;
    height: 50px;
}

.title-2{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
}


/* offer details  */

.offer-container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 8px;
    height: 150px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    ;
}

h2{
color: color: #272727;
}

p{
    color: rgba(39, 39, 39, 0.60);
   
font-size: 10px;
margin-top: 10PX;


}
.off-color{
    color :#e55473

}


.offer-details{

}


.offer-picture{

}






/*  instagram decoration */

.social-media{
    margin-top: 30px;
    display: flex;
    justify-content: center;

} 


.inst-details{
    justify-content: center;
}

.inst-pics{
    display: flex;
    margin: 30px;
    justify-content: space-around;
    padding: 50px 0px 50px 0px;
}






/*  background image */

.deals-info{
    padding: 60px;
    width: 750px;
    height: 150px;
    border-radius:8px;
    background-image: url(./images/Rectangle\ 9.png);
    
    margin: 65px;
    text-align: center;
    
}



/* footer decoration  */

.last-container {
    height: 100px;
    background: #111010;
    text-align: center;
    padding-top:  50px ; 
    padding-bottom:  50px ; 
    margin-top:  5PX; ;
}

.Flower{
    color: #e55473
}

.Shop{
    color:white
}
.last-description{
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
}
H1, P {
    margin-bottom: 5PX;

}

.copyright {
    font-size:  8px;
    color: rgba(255, 255, 255, 0.30);
}

